
/*
    font-family: 'Orbitron';
    font-weight: {500~900}
    - font login창에 사용
 */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500;600;700;800;900&display=swap');
/*
    font-family: 'Moirai One';
    - font login창에 사용
 */
@import url('https://fonts.googleapis.com/css2?family=Moirai+One&display=swap');

